---
---
{
  "title": {{ page.title | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  "description": {{ page.description | jsonify }},
  "type": {{ page.type | jsonify }},
  "category": {{ page.category | jsonify }},
  "complexity": {{ page.complexity | jsonify }},
  "activity": {{ page.activity | jsonify }},
  "license": {{ page.license | jsonify }},
  "last_survey": {{ page.last_survey | jsonify }},
  "locationids": {{ page.locationids | jsonify }},
  "tags": {{ page.tags | jsonify }},
  "website": {{ page.website | jsonify }},
  "github": {{ page.github | jsonify }},
  "screenshot1": {{ page.screenshot1 | jsonify }},
  "screenshot2": {{ page.screenshot2 | jsonify }},
  "screenshot3": {{ page.screenshot3 | jsonify }}
}
